<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a>&nbsp;&nbsp;</li>
            <li role="presentation" class="active"><a href="/showEntries">Level</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Heroes</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <img src="../static/images/avengers.gif" width="680" height="300">
      </div>
      </div>

      <div class="row marketing">
            <table class="table table-striped">
     <thead>
      <tr>
        <th>ID</th>
        <th>Heroes Name</th>
        <th>Power Level</th>
      </tr>
    </thead>
    <tbody>
        {% for hero in heroes %}
            <tr>
              <td>{{ hero.id }}</td>
              <td>{{ hero.name }}</td>
              <td>{{ hero.level }}</td>
            </tr>
        {% endfor %}
      </tbody>
            </table>
      </div>

      <footer class="footer">
        <p>&copy; Heroes Team</p>
      </footer>

    </div>
  </body>
</html>
